body {
    font-family: "Comfortaa", sans-serif;
}

.parent {
    position: relative;
    border: 1px solid black;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.solid-circle {
    height: 1000px;
    width: 850px;
    background-color: #476EF7;
    border-radius: 50%;
    position: absolute;
    right: -425px;
    top: -45px;
    z-index: 1;
}

.header-home {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 10px;
    padding: 50px 50px;
}

.click-here {
    background-color: white;
    color: #476EF7;
    font-size: large;
    font-weight: 600;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.50);
}

#name {
    color: #476EF7;
    font-size: 100px;
}

.form-floating {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.login {
    background-color: #476EF7;
    color: white;
    padding: 10px 25px
}

.main-content {
    margin-left: 50px
}

@media only screen and (max-width: 768px) {
    .solid-circle {
        height: 300px;
        width: 300px;
        right: -140px;
        top: -130px;
    }
    .header-home{
        padding: 20px 20px;
    }
}